<head>
  <title>Fitloop - Bodyweight Fitness Routines</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" sizes="32x32" href="/favicon.png?v=4">
</head>

<template name="layout">
  

    {{> navigationBar}}

    <div id="wrap">
      {{> yield}}
    </div>

  

  <div id="footer">
    <div class="container">
      Fitloop.co &middot; <a href="{{pathFor 'privacyPage'}}">Privacy</a> &middot; <a href="{{pathFor 'termsOfUse'}}">Terms</a> &middot; <a href="http://twitter.com/fitloop">Twitter</a> &middot; <a href="https://www.facebook.com/pages/Fitloop/532642186851420">Facebook</a>
    </div>
  </div>
</template>