<template name="aboutPage">

  <div id="page">

    <h1>About</h1>
  
    <div class="row">
      <div class="small-12 medium-7 columns">
        
        <div id="about-letter">
          <p>Hi there!</p>

          <p>I've created Fitloop to help people learning fitness exercise, routines, and best practices using minimal exercise equipment (mostly bodyweight), aimed at beginners.</p>

          <p>I found a ton of information on online forums and communities, but found it daunting as a beginner to sift through to find the information I was looking for. The information is scattered and not presented in a straightforward way. Fitloop combines all these individual pieces of data into a usable tool, where the information is available where it is relevant.</p>

          <p>
          I believe that effective fitness information should be available to everyone so they can improve their health. It shouldn't require extensive time or money to spend on researching or programs that may or may not work.</p>

          <p>Personally, I am working on my goals and using Fitloop to achieve them. The site is continuously improving with new ideas and tools.</p>

          <p>My #1 goal with this site is to create an honest, effective, easy to use health and fitness website. It is supported by the amazon links you see on the site. I only link to highly rated and effective equipment, which I myself have bought or would buy. I don't like display ads and will never have them on the site.</p>

          <p>Thank you for visiting, I hope you find this site useful! If you have any questions/comments, please email me at shri90 ( you know what ) gmail.</p>

          <p>Remember to keep safe, exercise caution and good judgement. Good luck!</p>

          <p> &ndash; <a href="http://shridhargupta.com">Shridhar</a></p>
        </div>
      </div>
      <div class="small-12 medium-5 columns">
        {{> resourcesPage}}

        {{> donatePage}}
      </div>
    </div>

    
  </div>
</template>
