<template name="homePage">
		
	<div id="page">
		<div class="hero">
			


			<h1>Work out with minimal equipment.</h1>
		  <p>Learn new exercises and quickly progress towards your goals with an effective full body workout routine.</p>

		  <p><a class="radius button success" href="/routines/bwf-recommended-beginner-routine" role="button">Get Started!</a></p>
		</div>

		
		<div class="row">
				
			<div class="small-12 medium-4 column">
				<h4>Exercise Videos</h4>
				<p>Fitloop <b>organizes exercises and videos</b> from YouTube into an interactive routine. Learn new exercises and their proper form by watching and learning. It's like your own personal trainer!</p>
			</div>

			<div class="small-12 medium-4 column">
				<h4>Progressive Routine</h4>
				<p>Follow an <b>effective, peer-reviewed routine</b> which has been created by Reddit's <a href="http://reddit.com/r/bodyweightfitness">bodyweightfitness</a> community. Better yet, the routine increases in difficulty as you get stronger.</p>
			</div>

			<div class="small-12 medium-4 column">
				<h4>Do it anywhere</h4>
				<p>Work out at home, while traveling, even at work. With Fitloop <b>you only need basic equipment</b> to get started. Save those expensive gym membership fees! Fitloop also works in your mobile browser.</p>
			</div>

		</div>


	</div>
	

	

	
    
</template>
