<template name="homePage">

  <div id="home-page">

    <div id="hero">
      <div class="container">
        <h2>Learn practical, effective fitness routines and exercises for free.</h2>
        <span class="subtitle">
          Follow along with a routine and Youtube videos of each exercise.
        </span>
      </div>

      <!-- <div id="routine-image"></div> -->
    </div>


  <div id="exercise-selection">
    <div class="container">

    <!-- <h2>Pick a workout track</h2> -->

      <!-- Bodyweight Fitness Routines -->
      <div class="select-routine row clearfix">
        <div>
          <a class="plate" href="/tracks/bodyweight-fitness">
              <span class="text">Bodyweight Fitness</span>
              <span class="description">Exercise with minimal or no <br/>equipment. Workout with your <br/>body and gain new skills.</span>
          </a>
        </div>



        <!-- <div class="column third">
          <a class="plate" href="/routines/starting-stretching">
              <span class="text">Stretching</span>
              <span class="description">Achieve greater flexibility and <br/>improve exercise posture.</span>
          </a>
        </div>

        <div class="column half">
          <div class="plate">
              <span class="text">More coming!</span>
              <span class="description">Additional workout tracks coming soon.</span>
          </div>
        </div>

        <div class="column third">
          <a class="plate" href="/routines/bwf-recommended-beginner-routine">
              <span class="text">Weightlifting</span>
              <span class="description">Strengthen your body from <br/>head to toe with the use of barbells.</span>
          </a>
        </div>

        <div class="column third">
          <a class="plate" href="/routines/bwf-recommended-beginner-routine">
              <span class="text">Yoga</span>
              <span class="description">Stay fit, relax, and <br/>become more flexible.</span>
          </a>
        </div>

        <div class="column third">
          <a class="plate" href="/routines/bwf-recommended-beginner-routine">
              <span class="text">Running</span>
              <span class="description">Shed some weight <br/>and get fresh air.</span>
          </a>
        </div>

        <div class="column third">
          <a class="plate" href="/routines/bwf-recommended-beginner-routine">
              <span class="text">Swimming</span>
              <span class="description">Acheive your lifelong dreams <br/>of becoming a fish.</span>
          </a>
        </div> -->
      </div>

    </div>
  </div>

  </div>


</template>
