<template name="privacyPage">
  <div class="container" id="page">
  <div class="row">
    <h3>Privacy Policy</h3>

    <p>We use a service called Google Analytics on fitloop.co to record data about visitors to the website.</p>

    <b>What does Google Analytics record?</b>
    <ul>
      <li>Which website you came from</li>
      <li>Time spent on pages</li>
      <li>Your browser, OS, and approximate city</li>
      <li>And much more</li>
    </ul>

    <p>It does NOT record any personally identifiable information (such as names, social security numbers, email addresses, or any similar data).</p>

    <b>What do we do with this data?</b>
    <p>
      We use the tracking information to understand how many people are visiting the website, where in the world the visits are coming from, which pages they are visiting, for how long, and where they are referred from. This helps us improve the website and keep track of the visitor count.
    </p>

    <b>How to opt out of tracking</b>
    <p>You can use <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">Google's opt-out browser plugin</a> to opt of Google Analytics tracking. Or, you could browse even more privately with <a href="https://disconnect.me/" target="_blank">Disconnect</a> to opt of not just Google Anaytics, but many more tracking sites as well.</p>
  </div>
  </div>

</template>