<template name="resourcesPage">

  <h3>Resources</h3>
  <h4>Websites</h4>

  <p><b><a href="http://reddit.com/r/bodyweightfitness" target="_blank">Bodyweight Fitness Subreddit</a></b>: A community focused around exercising with minimal or no equipment. Contains a wealth of information.</p>

  <p><b><a href="http://reddit.com/r/fitness" target="_blank">General Fitness Subreddit</a></b>: A vibrant fitness community with tons of information on health, diet, motivation, and exercise.</p>

  <h4>Books</h4>

  <p>
  <b><a href="http://www.amazon.com/gp/product/1467933120/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1467933120&linkCode=as2&tag=fitloop-20">Overcoming Gravity: A Systematic Approach to Gymnastics and Bodyweight Strength</a></b>: In-depth book for bodyweight training.</p>

  <p>
  <b><a href="http://www.amazon.com/gp/product/0982522738/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0982522738&linkCode=as2&tag=fitloop-20">Mark Rippetoe's Starting Strength</a></b>: A highly-rated barbell training book.</p>
  
</template>
