<template name="navigationBar">
<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{pathFor 'homePage'}}">Fitloop.co</a></h1>
      </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 

      <li class="toggle-topbar menu-icon">
        <a href="#"><span></span></a>
      </li>
    </ul> 

    <section class="top-bar-section"> <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="{{pathFor 'homePage'}}">Home</a></li>
        <li><a href="/routines/bwf-recommended-beginner-routine">Routine</a></li>
        <li><a href="{{pathFor 'exercisesPage'}}">Exercises</a></li>
        <!-- <li><a href="{{pathFor 'equipmentPage'}}">Equipment</a></li> -->
        <!-- <li><a href="{{pathFor 'dietPage'}}">Diet</a></li> -->
        <li><a href="{{pathFor 'aboutPage'}}">About</a></li>

        {{#if currentUser}}
            <li><a href="{{pathFor 'dashboard'}}">{{currentUser.profile.displayName}}</a></li>
            <li><a id="logout-link" href="#">Log out</a></li>
          {{else}}
            <li><a href="{{pathFor 'loginPage'}}">Log in</a></li>
            <li><a href="{{pathFor 'signupPage'}}">Sign up</a></li>
          {{/if}}
      </ul> <!-- Left Nav Section --> 
    </section> 
  </nav>
</div>  
</template>
