<template name="navigationBar">
  <div class="top-bar" data-topbar>
    <div class="container">
      <a href="/" class="logo"><h1>FITLOOP</h1></a>
      <nav class="nav-collapse">
        <!-- Left Nav Section -->
        <ul>
          <li><a href="{{pathFor 'exercisesPage'}}">exercises</a></li>
          <li><a href="{{pathFor 'equipmentPage'}}">equipment</a></li>
          <li><a href="{{pathFor 'dietPage'}}">diet
          <!-- <span class="super">new!</span> -->
          </a></li>
          <li><a href="{{pathFor 'aboutPage'}}">about</a></li>
        </ul>

        <ul class="right-nav">
          
          {{#if currentUser}}
            <li><a href="{{pathFor 'dashboard'}}">{{currentUser.profile.displayName}}</a></li>
            <li><a id="logout-link" href="#">log out</a></li>
          {{else}}
            <li><a href="{{pathFor 'loginPage'}}">log in</a></li>
            <li><a href="{{pathFor 'signupPage'}}">sign up</a></li>
          {{/if}}

          
        </ul>
      </nav>
    </div>
    
  </div>
</template>