<template name="routineGuide">
	<div id="page">
		
		<h4>Getting Started Guide</h4>

		<hr>

		<h5><b>What is Fitloop?</b></h5>
		<p>Fitloop organizes exercise videos into a bodyweight fitness routine that matches to your level of fitness. As you get stronger, the routine changes to keep you progressing.</p>

		<h5><b>What is bodyweight fitness?</b></h5>
		<p>Bodyweight fitness is the art of exercising with your body as the weight. You may already know about some bodyweight exercises &mdash; such as pushups, pullups &mdash; but there is a whole set of exercises to work out your whole body.</p>

		<h5><b>Why should I practice bodyweight fitness?</b></h5>
		<p>Bodyweight fitness is *really* cool and it's for everyone..You can work out for free (you may need some basic equipment for pullups), you can work out anywhere you are in the world, and you will learn how to use your body in ways you couldn't imagine. These factors make it extremely easy to get started. The path to fitness is within your body and in your control, and doesn't require an expensive trainer and gym membership. Even if you have a free gym, most gyms are not equipped with the right equipment or guidance to do a proper workout. These are the "Minimum Liability Gyms". There are of course some great weight training routines out there (Starting Strength), yet you lose many of the benefits of bodyweight training.</p>
		
		<h5><b>Will bodyweight training help me reach my goals?</b></h5>
		<p>
			If your goals are to <b>get stronger</b>, <b>lose weight</b>, <b>gain muscle</b>, and <b>be healthy</b>, then that's an absolute <b>YES</b>. Getting strong is a core component of each of those goals. Here's how you get stronger: Consistency and Progressive Overload.</p>
			<p><b>Consistency:</b> You need to be working out the same muscle regularly (3 times/week with rest days). This makes your body think, "Hey, I use this a lot, I should make this stronger". If you stop, the body goes back to thinking "Well, I guess I don't use this as much anymore", and the muscle returns to what it was.

			<p><b>Progressive Overload:</b> As the body makes that muscle stronger, you need to increase the resistance on that muscle to keep seeing progress. Instead of increasing pound weights, this is done using <b>progressions</b>. A progression is a series of exercises that make your body work harder with slightly different exercises. For example, leveling up from a Pushup to a Diamond Pushup increases the resistance on your muscles, making them work harder. The muscles don't care if the added weight is coming from your body or from free weights.</p>

			<p>In addition to maintaining a strength routine, proper diet is required for weight loss and muscle gain. Refer to <a href="http://www.reddit.com/r/Fitness/wiki/faq" target="blank">this guide</a> for diet information. Start leading a more active a lifestyle, with activities such as running, swimming, dancing, to burn calories and get the heart pumping.</p>

			<p>Don't worry about doing things everything at once. Start your strength routine today so you can get the ball rolling.</p>
		</p>

		<p></p>

		<h5><b>Okay, I'm ready! How do I use this website?</b></h5>
		<p>There are two main sections of this app. The sidebar on the left contains exercises and instructions for each exercise. When you click on an exercise, the main section of the app (where you are reading this guide) will show the exercise video and related information. You will be following the routine from top to bottom, but won't be doing all the exercises listed! Read on to learn more, but first let's cover some basics.</p>

		<h5><b>Sets, Reps, and Rest</b></h5>
		<p>A repetition (or <b>rep</b>) is one performance of an exercise. For example, if you do a pushup once, that is <b>1 rep</b>. You can combine multiple reps into a <b>set</b>. A quick way to write 3 sets of 8 reps each is <b>3x8</b>. The first number is the number of sets, and the second one is the number of reps in each set. You will see 3x(5-8), which means "3 sets of (5 to 8 reps)", depending on how many you can do.</p>

		<p>Grouping exercises by sets is helpful so we can have a <b>rest</b> time after each set. This is an important 60-120 seconds (usually) that allows your muscles to recover for the next set. Note the timer on the bottom of the routine which you can use to track your rest time, or any other time.</p>

		<h5><b>Progressions and Levels</b></h5>
		<p>As you scroll down the workout, you will notice some sections are called <b>Progressions</b>, or the exercise will have a <b>Level</b> number. A <b>Progression</b> is a series of similar exercises meant to work out the same region of muscles, in a progressively more challenging and harder way. Pick the appropriate <b>Level</b> (difficulty) which you are at right now (So, you can perform 3x5 of this exercise), and only perform that particular exercise for that progression section in today's workout. Next time, add more repititions to each of the 3 sets (each day increase like so: 3x6, 3x7, 3x8), and after 3x8 level up to the next exercise and start back at 3x5.</p>
		
		<h5><b>Paired Exercises</b></h5>
		<p>Once you get down to the strength progressions, you will find that they are combined into three <b>paired</b> sections. This means, instead of completing all sets of a particular exercise, you are switching back and forth between the paired exercises untill all sets are done. You still do the same number of sets and reps, but now they are intertwined. This saves time overall and helps work out complimentary muscle groups together.</p>

		<h5><b>Your workout week</b></h5>
		<p>Perform this workout 3 days a week with at least one rest day in between workout days. Try and add repetitions to your progressions on each next workout day. Don't just do this once, stick to a schedule and make a habit! Any gains you achieve will otherwise be lost and you will have to start over.</p>

		<h5><b>Good luck!</b></h5>

	</div>
</template>