<template name="routine">

  <div class="routine">

    <header>
      <h2>{{name}}</h2>
      {{> logWorkout}}
    </header>

    <div class="description">
      <!-- <pre>{{description}}</pre> -->
      <b>Perform 3 days/week</b>
      <!-- Source: <a href="{{source}}" target="_blank">{{source}}</a> -->
    </div>

    <div class="alert alert-warning">
      <b>If something hurts, stop!</b>
    </div>

    {{#each progressions}}
      {{#if notes}}
        <div class="notes">
          <pre>{{notes}}</pre>
        </div>
      {{/if}}
      <div class="exercise-item">
        <h3>{{name}}</h3>
        <ul class="list-group">
          {{#each exercises}}
            <li>{{> exerciseItem}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}

  </div>
</template>
