<template name="routine">
  
  <div class="routine">
    <h2>{{name}}</h2>

    <div class="description">
      <pre>{{description}}</pre>
      <br/>
      Source: <a href="{{source}}" target="_blank">{{source}}</a>
    </div>

    {{#if currentUser}}
      {{#if isLogged}}
        <a href="#" class="button" id="undo-track-workout"><i class="fa fa-check"></i> Good work! Today's workout logged. (Undo)</a>
      {{else}}
        <a href="#" class="button" id="track-workout"><i class="fa fa-pencil"></i> Log today's workout</a>
      {{/if}}
    {{else}}
      <a href="{{pathFor 'loginPage'}}" class="button" id="new-user-track-workout"><i class="fa fa-pencil"></i> Log today's workout</a>
    {{/if}}

    <div class="alert alert-warning">
      <b>If something hurts, stop!</b>
    </div>

    {{#each progressions}}
      {{#if notes}}
        <div class="notes">
          {{notes}}
        </div>
      {{/if}}
      <div class="panel">
        <h3>{{name}}</h3>
        <ul>
          {{#each exercises}}
            <li>{{> exerciseItem}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}  
  </div>
</template>