<template name="routineGuide">
	<div id="page">
		
		<h4>Getting Started Guide</h4>

		<hr>

		<h5><b>How to use this app</b></h5>
		<p>There are two main sections of this app. The sidebar on the left contains exercises and instructions for each exercise. When you click on an exercise, the main section of the app (where you are reading this guide) will show the exercise video and related information. You will be following the routine from top to bottom, but won't be doing all the exercises listed! Read on to learn more, but first let's cover some basics.</p>

		<h5><b>Sets, Reps, and Rest</b></h5>
		<p>A repetition (or <b>rep</b>) is one performance of an exercise. For example, if you do a pushup once, that is <b>1 rep</b>. You can combine multiple reps into a <b>set</b>. A quick way to write 3 sets of 8 reps each is <b>3x8</b>. The first number is the number of sets, and the second one is the number of reps in each set. You will see 3x(5-8), which means "3 sets of (5 to 8 reps)", depending on how many you can do.</p>

		<p>Grouping exercises by sets is helpful so we can have a <b>rest</b> time after each set. This is an important 60-120 seconds (usually) that allows your muscles to recover for the next set. Note the timer on the bottom of the routine which you can use to track your rest time, or any other time.</p>

		<h5><b>Progressions and Levels</b></h5>
		<p>As you scroll down the workout, you will notice some sections are called <b>Progressions</b>, or the exercise will have a <b>Level</b> number. A <b>Progression</b> is a series of similar exercises meant to work out the same region of muscles, in a progressively more challenging and harder way. Pick the appropriate <b>Level</b> (difficulty) which you are at right now (So, you can perform 3x5 of this exercise), and only perform that particular exercise for that progression section in today's workout. Next time, add more repititions to each of the 3 sets (each day increase like so: 3x6, 3x7, 3x8), and after 3x8 level up to the next exercise and start back at 3x5.</p>
		
		<h5><b>Paired Exercises</b></h5>
		<p>Once you get down to the strength progressions, you will find that they are combined into three <b>paired</b> sections. This means, instead of completing all sets of a particular exercise, you are switching back and forth between the paired exercises untill all sets are done. You still do the same number of sets and reps, but now they are intertwined. This saves time overall and helps work out complimentary muscle groups together.</p>

		<h5><b>Your workout week</b></h5>
		<p>Perform this workout 3 days a week with at least one rest day in between workout days. Try and add repetitions to your progressions on each next workout day. Don't just do this once, stick to a schedule and make a habit! Any gains you achieve will otherwise be lost and you will have to start over.</p>

		<h5><b>Good luck!</b></h5>

	</div>
</template>