<template name="routine">

  <div class="routine">

    <h2>{{name}}</h2>
      
    <div class="button-panel">
      <a href="/routine-guide" class="button" id="guide-button"><i class="fa fa-book"></i>
 Guide</a>
      {{> logWorkout}}
    </div>

    <div class="alert alert-warning">
      <b>Careful: If something hurts, stop!</b>
    </div>

    <!-- <div class="description"> -->
      <!-- <pre>{{description}}</pre> -->
      <!-- Perform 3 days/week -->
      <!-- Source: <a href="{{source}}" target="_blank">{{source}}</a> -->
    <!-- </div> -->


    {{#each progressions}}
      {{#if notes}}
        <div class="notes">
          <pre>{{notes}}</pre>
        </div>
      {{/if}}
      <div class="exercise-item">
        <h3>{{name}}</h3>
        <ul class="list-group">
          {{#each exercises}}
            <li>{{> exerciseItem}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}

  </div>
</template>
