<template name="dietPage">
  <div class="container" id="page">
    <h1>Diet (beta)</h1>
    
    <p>
      Whether you want to lose weight or gain muscle, diet is the key ingredient. To get started adjusting your diet, first you need to figure out your Total Daily Energy Expediture (TDEE), which measures the amount of calories your body needs to function in a day, and then find out how many calories to eat in a day based on your goals.
    </p>

    <h4>How many calories should I eat in a day?</h4>
    <form class="tdee-form">
      <div class="section">
        <span class="title">Gender</span>
        <div class="controls">
          <input type="radio" name="gender" id="male" value="male" {{isMale}}> <label for="male">Male</label>
          <input type="radio" name="gender" id="female" value="female" {{isFemale}}> <label for="female">Female</label>
        </div>
      </div>
      <div class="section">
        <span class="title">Age</span>
        <div class="controls">
          <input type="number" value="{{age}}" name="age" id="age"> <label for="age">Years</label>
        </div>
      </div>
      <div class="section">
        <span class="title">Height</span>
        <div class="controls">
          <input type="number" value="{{heightFeet}}" name="height-feet" id="height-feet" min="0" max="8"> <label for="height-feet">ft</label>
          <input type="number" value="{{heightInches}}" name="height-inches" id="height-inches" min="0" max="12" step="0.5"> <label for="height-inches">in</label>


          <span class="or">or</span>

          <input type="number" value="{{heightCm}}" name="height-cm" id="height-cm" min="0"> <label for="height-cm">cm</label>
        </div>
      </div>

      <div class="section">
        <span class="title">Weight</span>
        <div class="controls">
          <input type="number" value="{{weightLbs}}" name="weight-lbs" id="weight-lbs" min="0"> <label for="weight-lbs">lbs</label>

          <span class="or">or</span>

          <input type="number" value="{{weightKg}}" name="weight-kg" id="weight-kg" min="0" step=".1"> <label for="weight-kg">kg</label>
        </div>
      </div>

      <div class="section">
        <span class="title">Exercise</span>
        <div class="controls">
          <input type="range" min="1.2" max="1.9" step=".01" value="{{stressLevel}}" name="stress-level" id="stress-level" />
          <label for="stress-level" id="stress-level-label">{{stressLevelText}}</label>
        </div>
      </div>

      <div class="section">
        <span class="title">Goal</span>
        <div class="controls">
          <select name="goal-rate" id="goal-rate">
            {{#each goalOptions}}
              <option value="{{option}}" {{goalSelected}}>{{text}}</option>
            {{/each}}
          </select>
          
        </div>
      </div>

      {{#if tdee}}
      <div class="section">
        <span class="title">Result</span>
        <div class="controls">
        To <b>{{goalRateText}}</b>, eat <b>{{calories}}</b> calories per day. *
        </div>
      </div>
      {{/if}}
     
    </form>

    <p>
      * {{explanation}} ({{tdee}}). Your Basal Metabolic Rate (BMR) is {{bmr}}.
    </p>
    
    



    <h4>Links</h4>
    <a href="http://www.reddit.com/r/Fitness/wiki/faq#wiki_diet_details">In-depth details about diet on /r/fitness</a> <br/>
    <a href="http://www.reddit.com/r/bodyweightfitness/wiki/training_guide#wiki_diet_-_weight_loss_or_gain">/r/bodyweightfitness diet guide</a>
  </div>
</template>
