<template name="aboutPage">

  <div class="container" id="page">

    <h1>About</h1>

    <div id="about-letter">
      <p>Hi there!</p>

      <p>Fitloop is a website for learning fitness exercises, routines, and best practices using minimal exercise equipment (mostly bodyweight), aimed at beginners.</p>

      <p>I found a wealth of information on online forums and communities, but found it daunting as a beginner to sift through to find the information I was looking for. Whereas one page might provide a routine to follow, another would provide details on each exercise, and yet another would link to youtube videos. Fitloop combines all these individual pieces of data into a usable tool, where the information is available in bits where it is relevant.</p>

      <p>
        I believe that effective fitness information should be available to everyone so they can improve their health. It shouldn't require extensive time or money to spend on researching or programs that may or may not work.</p>

      <p>Personally, I am still working on my goals and using Fitloop to achieve them. The site is continuously improving with new ideas and tools.</p>

      <p>My #1 goal with this site is to create an honest, effective, easy to use health and fitness website. It is supported by the amazon links you see on the site. I only link to highly rated and effective equipment, which I myself have bought or would buy. I don't like display ads and will never have them on the site.</p>

      <p>Thank you for visiting, I hope you find this site useful! If you have any questions/comments, please email me at <a href="mailto:hi@fitloop.co">hi@fitloop.co</a>.</p>

      <p>Remember to keep safe, exercise caution and good judgement. Good luck!</p>

      <p> &ndash; <a href="//twitter.com/shridhargupta">Shridhar</a></p>
    </div>

    {{> resourcesPage}}

    {{> donatePage}}
  </div>
</template>
