<template name="aboutPage">
  
  <div class="container" id="page">
    
    <h1>About</h1>

    <div id="about-letter">
      <p>Hi there!</p>

      <p>Fitloop.co is a website I am making for learning fitness exercises, routines, and best practices using minimal exercise equipment (mostly bodyweight).</p>

      <p>I found a wealth of information on online forums and communities, but found it daunting as a beginner to sift through to find the information I was looking for. Whereas one page might provide a routine to follow, another would provide details on each exercise, and yet another would link to youtube videos. Fitloop combines all these individual pieces of data into a usable tool, where the information is available in bits where it is relevant.</p>

      <p>Personally, I am still working on my goals and using Fitloop to acheive them. I work on improvements to the site as I progress, adding features which will help me. I have more features planned that will allow users to track progress, keep them motivated to exercise, and provide some basic nutrition information.</p>

      <p>My #1 goal with this site is to create an honest, effective, easy to use health and fitness website. It is supported by the amazon links you see on the site and your awesome donations. I only link to highly rated and effective equipment, which I myself have bought or would buy. I dislike display ads and will never have them on the site.</p>

      <p>Thank you for visiting, I hope you find this site useful! If you have any questions/comments, please email me at <a href="mailto:hi@fitloop.co">hi@fitloop.co</a>.</p>

      <p>Remember to keep safe, exercise caution and good judgement. Good luck!</p>

      <p> &ndash; <a href="//twitter.com/shridhargupta">Shridhar</a></p>
    </div>
      
  
    {{> resourcesPage}}

    <!-- <h3>Photo Attributions</h3>
    "<a href="http://en.wikipedia.org/wiki/File:Planche.jpg">Planche</a>" by Jonathanfv is licensed under <a href="http://creativecommons.org/licenses/by/3.0/deed.en">CC BY 3.0</a> -->
    <!-- <br/> -->
    <!-- "<a href="http://commons.wikimedia.org/wiki/File:Carrie_Yoga_shoot_002_%288328572519%29.jpg">Carrie -Yoga shoot #002</a>" by <a href="http://www.flickr.com/people/32604460@N08">Joel Nilsson</a> is licensed under <a href="http://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a> -->


    {{> donatePage}}
  </div>
</template>