<template name="donatePage">
  <div class="row clearfix">
    <div class="col-md-12">
      <h3>Donate</h3>
      <p>If you are finding fitloop.co helpful, please consider supporting this site by donating. I'm a small developer and I would appreciate the help paying server costs and supporting further development. Alternatively, <a href="http://www.amazon.com/?_encoding=UTF8&camp=1789&creative=390957&linkCode=ur2&tag=fitloop-20">shop on Amazon with this link</a>. Thank you.</p>
    </div>
    <div class="column half">
      <h5>Donate via BTC</h5>
      <p>
        <a href="bitcoin:1PSDYRzETUdBx69cRUEd1M1YVEEsZRbpgj">1PSDYRzETUdBx69cRUEd1M1YVEEsZRbpgj</a>
      </p>
      <a href="bitcoin:1PSDYRzETUdBx69cRUEd1M1YVEEsZRbpgj">
        <img src="//i.imgur.com/JJgRrJL.png" alt="1PSDYRzETUdBx69cRUEd1M1YVEEsZRbpgj">
      </a>

    </div>
    <div class="column third">
      <h5>Donate via PayPal</h5>
      <p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7FRHFHENA44ZE">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

      </p>
    </div>
  </div>
</template>