#dashboard-page {

	min-height: 600px;


	#sidebar {
		// background: #f3f3f3;
		border-right: 2px solid #e5e5e5;
		width: 200px;
		padding: 20px;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;


		h1 {
			font-size: 14px;
			margin-bottom: 20px;
			text-transform: uppercase;
			color: #aaa;
		}

		ul > li {
			font-size: 18px;
			margin-bottom: 15px;
			font-weight: 400;

			a {
				color: #818281;
			}

			a:hover {
				color: #111;
			}
			
		}
	}

}

#dashboard-page {
	// background: #f5f5f5;
	padding-top: 20px;

	section {
		h2 {
			font-size: 16px;
			margin: 0;
		}
		margin: 0;
	}

	

	section {
		margin-top: 20px;
	}

	section#dailyTracker {
		// background: #fff;

		h2 {
			color: #5d5d5d;
			font-weight: 300;
			line-height: 50px;
			font-size: 22px;
		}
	}

}

section#profile {
  // background: #fff;

  #username {
    font-size: 30px;
    color: #3498db;
    font-weight: 500;
  }
}
