.exercise-library {
  .view-control {
    margin-bottom: 20px;
  }
}

.exercise-grid-item {
  display: block;
  position: relative;
  color: #525252;
  max-width: 300px;

  .text {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 10;
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
  }

}

.exercise-grid-item:hover {

}

/* Exercise List */
.list-container {
  padding: 0 12px;
}

.exercise-list {
  
  margin: 0;

  li {
    display: block;
    a {
      padding: 10px;
      display: block;
      background: #fff;
      color: #4e5953;
      font-size: 16px;
      font-weight: 400;
      border-bottom: 1px solid #eee;

      &:hover {
        background: #eee;
      }
    }
  }
}

.exercise-list-item:nth-child(2n) {
  background: #dff1e8;
}

.exercise-list-item:hover {
  color: #000;
}


.center {
  text-align: center;
}
