#routine-page {
  background: #EFF3F8;
}

.selection-panel {

  position: fixed;
  top: 60px;
  bottom: 0px;
  width: 320px;
  overflow-y: auto;
  background: #F9F9F9;
  box-shadow: 0px 0px 4px #7F7F7F;

  .routine {
    
    // padding-top: 110px;
    position: fixed;
    top: 60px;
    width: 320px;
    bottom: 60px;

    overflow-y: auto;

    .log-panel {
      // display: block;
      // position: fixed;
      // bottom: 60px;
      height: 70px;
      // width: 320px;
      padding: 15px;
      background: #FFFBCC;
      border-top: 1px solid #E3E3A7;
      border-bottom: 1px solid #E3E3A7;

      .button {
        background: #49AA4A;
        &:hover {
          background: #5FC75F;
        }
      }
    }

    h2 {
      padding: 15px;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    .description {
      padding: 15px;
      // font-size: 16px;
      line-height: 1.3em;
      margin-bottom: 10px;
    }

    .button {
      display: block;
      text-align: center;
      background: #6075AE;
      padding: 10px;
      font-size: 16px;
      line-height: 1.3em;
      margin-bottom: 10px;
      color: #fff;
      border-radius: 7px;

      &:hover {
        background: #B1AEE5;
      }
    }

    .notes {
      display: block;
      text-align: center;
      color: rgba(105, 114, 120, 1);
      padding: 10px;
      margin: 0px auto 20px;
      max-width: 450px;
      font-weight: 500;
    }

    .exercise-item {
      background: #fff;
      max-width: 350px;
      // margin: 0 auto 20px auto;

      h3 {
        line-height: 1em;
        font-size: 15px;
        margin: 0;
        padding: 10px 10px 10px 20px;
        background: #971538;
        color: #fff;
      }

      ul { 
        
        margin: 0;

        li {
          border-bottom: 1px solid #eee;
          list-style-type: none;

          a {
            display: block;
            padding: 10px 10px 10px 20px;
            font-size: 16px;
            font-weight: bold;

            color: #333;

            .supertext {
              color: #bbb;
              font-size: 14px;
              font-weight: bold;
              display: block;
            }

            &:hover {
              background: #E6FBFF;
            }
          }
        }
      }
    }
  }

}

.detail-panel {

  padding: 30px 20px 20px 340px;
  background: #EFF3F8;
  height: 100%;

  .exercise-panel {

    max-width: 620px;
    margin: 0px auto;
        
      .video-section {
        box-shadow: 0px 0px 20px #DBE1EA;
        margin-bottom: 10px;
      }

      .exercise-info {
        background: #fff;
        // border-radius: 5px;
        box-shadow: 0px 0px 20px #DBE1EA;
          
        padding: 20px;
        margin-bottom: 20px;

        h4 {
          font-size: 16px;
          margin: 0;
          line-height: 1em;
        }

        h5 {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 5px;
        }

        .notes {
          margin-bottom: 10px;
        }

        #feedback-link {
          margin-top: 20px;
        }
    }
  }

  
}


.video-section {
  margin: 0 auto;
  background: #222;
  width: 100%;
  height: 350px;

  .message {
    text-align: center;
    color: #767676;
    display: block;
    line-height: 22em;
  }
}

@media (max-width: 1023px) {

}

@media (max-width: 767px) {
  .detail-panel {
    display: none;
  }
  .selection-panel {
    width: 100%;
    .routine {
      width: 100%;
    }
    .control-bar {
      width: 100%;
    }
  }
}
