<template name="welcome">

<h1>Welcome to Fitloop!</h1>

<p>We'll be setting up a personalized fitness routine for you that you can perform 3 days a week. It will adjust accordingly as you get stronger and more fit!</p>

<p>(<a href="/welcome/obese"><b>Information if you are obese</b></a>)</p>

Before we can do this, we first need to find out your current strength level:



<p>what are reps?</p>
<p>what are sets?</p>

<p>Choose the hardest exercise in which you can perform 3 sets of 5 reps:</p>

	Pushup
	<ul>
		<li>Wall Pushup</li>
		<li>Incline Pushup</li>
		<li>Pushup</li>
		<li>Diamond Pushup</li>
	</ul>

	Rows
	<ul>
		<li>Vertical Row</li>
		<li>Incline Row</li>
		<li>Row</li>
	</ul>

	Legs
	<ul>
		<li>Assisted Bodyweight Squats</li>
		<li>Bodyweight Squats</li>
		<li>Barbell Squat &amp; Deadlift</li>
		<li>Deep Step Up</li>
	</ul>

	(If pushups >= diamond &amp; rows >= horizontal)
	Pullups
	<ul>
		<li>Negative Pull-Ups</li>
		<li>Pull Up</li>
		<li>L-sit Pull Ups</li>
		<li>Pull Over</li>
	</ul>
	
	Dips
	<ul>
		<li>Parallel Bar Dips</li>
		<li>Ring Dips</li>
		<li>Ring Dips in L-sit</li>
	</ul>


</template>

<template name="welcomeObese">

	<a href="/welcome">back</a>

	<p>At this time, fitloop cannot offer any workout advice if you are obese. Your first goal should be weight loss.</p>

	<p>This is done with a combination of diet adjustments and increasing cardio activity (walking, running, swimming, sports). Try to be active at least 30-35 mins a day by going for a walk or a bike ride to get your heart pumping.</p>

	<p>You can try these tips:</p>

	<ul>
		<li><b>Drink water: </b> Cut out sugary drinks and drink water instead.</li>
		<li><b>Fruits:</b> Eat a piece of fruit (like an apple or banana) instead of dessert.</li>
		<li><b>Portions:</b> Save half of that burrito for dinner instead of eating the whole thing.</li>
	</ul>

	<p>Use an app like MyFitnessPal or LoseIt to track calories and be aware of which foods have tons of calories but don't satisfy you that much, so you can begin cutting them out.</p>
	

</template>