<template name="adminPage">
	{{#if isAdmin}}
		<div id="page">

	    <h2>Admin</h2>

	    User ID: {{userId}}

			<h3>Exercises</h3>
			<div class="row">
				<div class="medium-6 columns">
				<!-- Button trigger modal 
				<a href="" class="small radius button" data-reveal-id="addExercise">
					Add Exercise
				</a> -->

				{{> addExercise exerciseEditing}}

				</div>
				<div class="medium-6 columns">
					<h4>All Exercises</h4>
				    <ul class="exercise-list">
				    {{#each exercises}}
				      <li>
				      	<a href="#" class="exercise list-group-item">{{name}}</a>
				      </li>
				    {{/each}}
						</ul>
				</div>
			</div>
	    
	  </div>
	{{else}}
		{{> unauthorized}}
	{{/if}}
</template>


<template name="addExercise">
	<!-- Modal -->
	<div id="addExercise">

		<h4>Add Exercise</h4>

		<a id="clearForm" class="small button info">clear form</a>

		<form>
			<label>ID
			<input class="form-control" type="text" id="exercise-id" value="{{_id}}">
		</label>

			<label>Name
			<input class="form-control" type="text" id="exercise-name" value="{{name}}">
		</label>

			<label>Slug
				<input class="form-control" type="text" id="exercise-slug" value="{{slug}}">
			</label>

			<label>VideoId
				<input class="form-control" type="text" id="exercise-videoid" value="{{videoId}}">
			</label>

			<label>Notes
				<textarea class="form-control" id="exercise-notes" value="{{notes}}"></textarea>
			</label>

			{{#each equipment}}
				<label>Equipment
					<input class="form-control" type="text" value="{{this}}">
				</label>
			{{/each}}

			<input type="submit" class="button" value="Save" id="save_exercise">
		</form>

	</div>
</template>

<template name="unauthorized">
	<div id="page">
		Hmm..you're not supposed to be here! You need to log in as admin.	
	</div>
</template>