<template name="loginPage">

	<div class="container">

		<div class="row">

			<div id="account-form-box" class="medium-offset-4 medium-4 columns">

				<h1>Log in</h1>

				<p>
					Need an account? <a href="{{pathFor 'signupPage'}}">Sign up here</a>.
				</p>

				{{#if error}}
				<div class="alert alert-danger" role="alert">
					{{error}}
				</div>
				{{/if}}

				<form id="login-form" action="action">
					<div class="form-group">
						<input type="text" class="form-control" id="login-email" placeholder="username or email" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="login-password" placeholder="password" />
					</div>
					<input class="btn btn-success" type="submit" id="login-button" value="Log in" /> <a href="/reset-password">Forgot Password?</a>
				</form>

			</div>
		</div>
	</div>

</template>
