<template name="loginPage">

	<div id="login-page" class="account-page">

    <div id="account-form-box">

      <h1>Log in</h1>

      <p>
      Need an account? <a href="{{pathFor 'signupPage'}}">Sign up here</a>.
      </p>

      {{#if error}}
      <div class="error-box">
        {{error}}
      </div>
      {{/if}}

      <form id="login-form" action="action">
        <div>
          <input type="text" id="login-email" placeholder="username or email" />
          <input type="password" id="login-password" placeholder="password" />
          <input type="submit" id="login-button" value="Log in" />
       </div>
     </form>

    <p><a href="/reset-password">Forgot Password? Reset it here.</a></p>

    </div>


	</div>

</template>
