<template name="recoverPassword">

	<div id="reset-password" class="account-page">

	<div id="account-form-box">

      <h1>Reset Password</h1>

      {{#if error}}
	      <div class="error-box">
	        {{error}}
	      </div>
      {{/if}}

	{{#if resetPassword}}
     <form id="new-password" action="action">
        <div>
           <input type="password" id="new-password-password" placeholder="new password"/>
           <input type="submit" value="Change Password" />
        </div>
      </form>
  {{else}}
      <form id="recovery-form" action="action">
        <div>
           <input type="email" id="recovery-email" placeholder="email"/>
           <input type="submit" value="Send Reset Instructions" />
         </div>
      </form>
  {{/if}}

  </div>

	</div>

</template>
