<template name="recoverPassword">

	<div class="container">

		<div class="row">

			<div id="account-form-box" class="col-sm-6 col-sm-offset-3">

	      <h1>Reset Password</h1>

				{{#if error}}
					<div class="alert alert-danger" role="alert">
						{{error}}
					</div>
				{{/if}}

		{{#if resetPassword}}
	     <form id="new-password" action="action">
	        <div class="form-group">
	           <input type="password" class="form-control" id="new-password-password" placeholder="new password"/>
					</div>
	           <input type="submit" class="btn btn-success" value="Change Password" />
	      </form>
	  {{else}}
	      <form id="recovery-form" action="action">
					<div class="form-group">
	           <input type="email" class="form-control" id="recovery-email" placeholder="email"/>
					</div>
	           <input type="submit" class="btn btn-primary" value="Send Reset Instructions" />
	      </form>
	  {{/if}}

	  </div>
	</div>

	</div>

</template>
