<template name="signupPage">

	<div class="container">

		<div class="row">

			<div id="account-form-box" class="medium-offset-4 medium-4 columns">

				<h2>Sign up</h2>

				{{#if error}}
				<div class="alert alert-danger" role="alert">
					{{error}}
				</div>
				{{/if}}

				<form action="action" id="signup-form">
					
					<input type="text" id="account-username" placeholder="username">

					<input type="email" class="form-control" id="account-email" placeholder="email">

					<input type="password" class="form-control" id="account-password" placeholder="password">

					<input class="button success small radius" type="submit" id="create-account" value="Sign Up">

				</form>
			</div>
		</div>

	</div>
</template>
