#dashboard-page {
	// background: #f5f5f5;
	padding-top: 20px;

	section {
		h2 {
			font-size: 16px;
			margin: 0;
		}
		margin: 0;
	}

	

	section {
		margin-top: 20px;
	}

	section#dailyTracker {
		// background: #fff;

		h2 {
			color: #5d5d5d;
			font-weight: 300;
			line-height: 50px;
			font-size: 22px;
		}
	}

}
