<template name="equipmentPage">
  <div class="container" id="page">

      <h3> Equipment</h3>
      <p>It's possible to perform many of the exercises on this site without dedicated exercise equipment. Many exercises can be improvised using tables, chairs, sturdy rods, ropes, etc. If you don't have access to a gym or equipment substitutes, I have compiled below a collection of durable, dependable, and highly rated products.</p>

      <p>Remember, <b>be careful!</b></p>

      <h4>Must-Have</h4>
      <p>Pull ups are vitally important, and in the absence of a good pullup bar, the <a href="http://www.amazon.com/gp/product/B001EJMS6K/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001EJMS6K&linkCode=as2&tag=fitloop-20">Iron Gym workout bar</a> is a great solution. It fits in most doorway frames, is rated for upto 300 lbs, and is fairly inexpensive.</p>
      <p>As you progress to the more advanced exercises, a set of <a href="http://www.amazon.com/gp/product/B001EJMS6K/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001EJMS6K&linkCode=as2&tag=fitloop-20">gymnasics rings</a> is sure to come in handy. Check out <a href="http://goldmedalbodies.com/hanging-gymnastic-rings/" target="_blank">this blog post</a> by GMB about where to hang your rings.</p>

  <br/>
  <div class="row clearfix">

    <!-- Pull up bar -->
    <div class="column third">
      {{> equipmentItem irongym}}
    </div>

    <!-- Rings -->
    <div class="column third">
      {{> equipmentItem rings}}
    </div>

  </div>
  
  <h4>Useful Items</h4>
  <p>These items allow a greater variety of exercises, or increased resistance.</p>
  
  <div class="grid">
  <div class="grid-item">
      <div class="equipment-item">
        <a class="item-image" href="http://www.amazon.com/gp/product/B004TN51EE/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B004TN51EE&linkCode=as2&tag=fitloop-20"><img src="http://ecx.images-amazon.com/images/I/41l%2BzqlTYRL._SL160_.jpg"></a>

        <a class="item-name" href="http://www.amazon.com/gp/product/B004TN51EE/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B004TN51EE&linkCode=as2&tag=fitloop-20">Aurorae Classic Yoga Mat</a>

        <span class="price">Price: About $35</span>

        <a href="http://www.amazon.com/gp/product/B004TN51EE/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B004TN51EE&linkCode=as2&tag=fitloop-20" class="amazon button">Buy on Amazon</a>
      </div>
    </div>

    <div class="grid-item">
      <div class="equipment-item">
        <a class="item-image" href="http://www.amazon.com/gp/product/B002Y2SUU4/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B002Y2SUU4&linkCode=as2&tag=fitloop-20"><img border="0" src="http://ecx.images-amazon.com/images/I/31-UGeAXYVL._SL110_.jpg"></a>

        <a class="item-name" href="http://www.amazon.com/gp/product/B002Y2SUU4/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B002Y2SUU4&linkCode=as2&tag=fitloop-20">Stamina 1690 Power Tower </a>

        <span class="price">Price: About $108</span>

        <a href="http://www.amazon.com/gp/product/B002Y2SUU4/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B002Y2SUU4&linkCode=as2&tag=fitloop-20" class="amazon button">Buy on Amazon</a>
      </div>
    </div>

    <div class="grid-item">
      <div class="equipment-item">
        <a class="item-image" href="http://www.amazon.com/gp/product/B0054MQUHQ/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0054MQUHQ&linkCode=as2&tag=fitloop-20"><img border="0" src="http://ecx.images-amazon.com/images/I/51pGfdgzM3L._SL110_.jpg"></a>

        <a class="item-name" href="http://www.amazon.com/gp/product/B0054MQUHQ/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0054MQUHQ&linkCode=as2&tag=fitloop-20">Aylio 3 Loop Bands</a>

        <span class="price">Price: About $20</span>

        <a href="http://www.amazon.com/gp/product/B0054MQUHQ/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0054MQUHQ&linkCode=as2&tag=fitloop-20" class="amazon button">Buy on Amazon</a>
      </div>
    </div>    
    
    <div class="grid-item">
      <div class="equipment-item">
        <a class="item-image" href="http://www.amazon.com/gp/product/B0026PMD70/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0026PMD70&linkCode=as2&tag=fitloop-20"><img border="0" src="http://ecx.images-amazon.com/images/I/51U9U5rwtiL._SL160_.jpg"></a>

        <a class="item-name" href="http://www.amazon.com/gp/product/B0026PMD70/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0026PMD70&linkCode=as2&tag=fitloop-20">Aylio 3 Exercise Bands</a>

        <span class="price">Price: About $20</span>

        <a href="http://www.amazon.com/gp/product/B0026PMD70/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0026PMD70&linkCode=as2&tag=fitloop-20" class="amazon button">Buy on Amazon</a>
      </div>
    </div>

    <div class="grid-item">
      <div class="equipment-item">
        <a class="item-image" href="http://www.amazon.com/gp/product/B009FMNHL8/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B009FMNHL8&linkCode=as2&tag=fitloop-20"><img border="0" src="https://images-na.ssl-images-amazon.com/images/I/31buv3ENdkL._SL110_.jpg"></a>

        <a class="item-name" href="http://www.amazon.com/gp/product/B009FMNHL8/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B009FMNHL8&linkCode=as2&tag=fitloop-20">Lacrosse Ball for Massage</a>

        <span class="price">Price: About $7</span>

        <a href="http://www.amazon.com/gp/product/B009FMNHL8/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B009FMNHL8&linkCode=as2&tag=fitloop-20" class="amazon button">Buy on Amazon</a>
      </div>
    </div>

  </div>
    
  <p>More equipment is coming soon, as I research more exercises and seek out quality, affordable equipment that most people can benefit from. If you buy an item using these links, it will help support this site at no extra cost to you.</p>
  
  </div>
  
</template>