<template name="activitiesPage">
  <h1>Exercises</h1>
  {{> exercisesGrid exercises}}
</template>


<template name="activitiesPageOld">

  <div class="container" id="page">
    <h3>Activities</h3>

    <div class="row clearfix">
      <div class="column third">
        <a class="plate" href="/activities/bodyweight-fitness">
          <!-- <i class="fa fa-anchor"></i> -->
          <span class="text">Bodyweight Fitness</span>
          <span class="description">Get Fit Without a Gym</span>
        </a>
      </div>
      <div class="column third">
        <a class="plate" href="http://www.doyogawithme.com" target="_blank">
          <!-- <i class="fa fa-anchor"></i> -->
          <span class="text">Yoga</span>
          <span class="description">Do Yoga With Me<br/>(doyogawithme.com)</span>
        </a>
      </div>
      <div class="column third">
        <a class="plate" href="http://www.coolrunning.com/engine/2/2_3/181.shtml" target="_blank">
          <!-- <i class="fa fa-anchor"></i> -->
          <span class="text">Running</span>
          <span class="description">Couch to 5k<br/>(coolrunning.com)</span>
        </a>
      </div>
    </div>

    <h3>Exercises</h3>

    {{> exercisesGrid exercises}}


  </div>
  
</template>

<template name="bwfPage">
  <div class="track-page" id="page">
    <div class="container">

      <h1>Bodyweight Fitness</h1>

      <div class="select-routine row clearfix">
        <div class="column third">
          <a class="plate" href="/routines/bwf-beginner-routine">
            <!-- <i class="fa fa-anchor"></i> -->
            <span class="text">Simple Beginner Routine</span>
            <span class="description">0-3 months experience</span>
          </a>
        </div>
        <div class="column third">
          <a class="plate" href="/routines/bwf-intermediate-beginner-routine">
            <!-- <i class="fa fa-anchor"></i> -->
            <span class="text">Intermediate Beginner Routine</span>
            <span class="description">3-9 months experience</span>
          </a>
        </div>
        <div class="column third">
          <a class="plate" href="/routines/bwf-recommended-beginner-routine">
            <!-- <i class="fa fa-anchor"></i> -->
            <span class="text">Combined Beginner Routine (Beta)</span>
            <span class="description">0-9 months experience</span>
          </a>
        </div>
      </div>
    </div>
    
    

  </div>
</template>