.account-page {

	height: 400px;

	#account-form-box {
		margin: 0 auto;
		width: 300px;

		position: relative;
		top: 50px;

		.error-box {
			margin-bottom: 20px;
			background: #e8b9b9;
			color: #8e2a2c;
			padding: 10px;
		}
	}
}
