#exercisePage {
  max-width: 670px;
  margin: 0 auto;
}

.exercise-grid-item {
  position: relative;
  display: inline-block;
  // border: 2px solid #cfcfcf;
  padding: 0px;
  color: #525252;
  width: 100%;
  // max-width: 400px;
  margin: 0 10px 20px 0;
  height: 168px;
  text-align: left;


  img {
    width: 100%;
    height: 168px;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,.7);
    width: 100%;
    color: #fff;
    padding: 7px;
    // font-weight: 500;
  }

}

.exercise-grid-item:hover {
  .text {
    background: #000;
  }
}

.center {
  text-align: center;
}

.exercise-grid-item {
    width: 300px;
}