#home-page{
  #hero {
    z-index: -100;
    width: 100%;
    height: 440px;
    position: relative;
    color: #fff;
    background: #60C082;

    h2 {
      display: block;
      padding-top: 60px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;

      font-size: 24px;
      color: #FFFFFF;
      line-height: 33px;
      /* Learn practical, eff: */
    }

    .subtitle {
      display: block;
      text-align: center;

      font-size: 18px;
      color: #D6EDE9;
      line-height: 24px;
      /* Pick a workout track: */
    }

    #routine-image {
      background-image: url("//s3.amazonaws.com/fitloop/routine-image.png");
      width: 499px;
      height: 231px;
      background-size: 499px 231px;
      margin: 0 auto;
      margin-top: 73px;
    }
  }


}

  

#exercise-selection {
  padding-top: 50px;

  background: #F3F8F6;

  h2 {
    text-align: center;
    margin: 0;

    font-size: 24px;
    color: #9d9d9d;
    /* Log your workouts an: */
  }

  .select-routine {
    padding-top: 40px;
    padding-bottom: 40px;

    .plate {
      // background: #fff;

      .text {
        color: #60C0AF;
        
        font-size: 20px;
      }

      .description {
        color: #B8B8B8;

        font-size: 14px;
      }
    }
  }
}

@media (max-width: 640px) {
  .home-page {
    height: 110px;
    h2 {
      padding-top: 20px;
      font-size: 1.5em;
    }

    ol {
      font-size: 1.5em;
    }

  }
}








