@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);

body {
  font-family: "Roboto", Helvetica, Arial sans-serif;
  color: #383838;
}

pre {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera 4 - 6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
  font-family: "Roboto", Helvetica, Arial sans-serif;
  margin: 0;
}

#wrap {
  margin-top: 80px;
  margin-bottom: 40px;
}

#page {
  padding-top: 5px;
  padding-bottom: 10px;

  h1 {
    font-weight: 300;
  }
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.button {
  padding: 10px;
  border-radius: 9px;
  color: #242424;
}

.alert-warning {
  text-align: center;
  background: none repeat scroll 0% 0% rgba(255, 231, 206, 1);
  color: rgba(224, 127, 34, 1);
  // border: 1px solid rgba(236, 209, 193, 1);
  padding: 10px;
  margin: 0px auto 20px;
  max-width: 450px;
  border-radius: 3px;
  font-weight: 500;
}


.loading {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  h3 {
    margin-bottom: 40px;
    color: #a2a2a2;
  }
}




.exercise-info .notes {
  margin-top: 10px;
  margin-bottom: 0px;
}

.panel-container {
  position: absolute;
  bottom: 40px;
  top: 51px;
  left: 0;
  right: 0;
  overflow: auto;
}

.equipment-item {
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  height: 150px;

  .item-image {
    margin-right: 20px;
    width: 130px;
    height: 130px;
    display: table-cell;
    vertical-align: middle;
  }

  .item-image > img {
    max-width: 130px;
    max-height: 130px;
  }

  .item-name {
    position: absolute;
    top: 10px;
    left: 150px;
    right: 10px;
    text-align: right;
    font-weight: bold;
  }

  .price {
    position: absolute;
    bottom: 60px;
    right: 12px;
    font-size: 14px;
  }
  
  .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
  }
}

.amazon.button {
  background: rgba(255, 229, 183, 1);
  font-size: 14px;
  color: rgba(182, 141, 0, 1);

  &:hover {
    background: rgba(255, 196, 92, 1);
    color: #382B00;
  }
}



/* Home page "plates" */
.plate {
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  /*color: black;*/
  height: 12em;
  text-align: center;
  border: 2px dashed #d5d5d5;

  &:hover {
    background: rgba(255,255,255,0.3);
  }
}

a.plate:hover {
  text-decoration: none;
}

.plate .fa {
  line-height: 2em;
  font-size: 2em;
  display: block;
}

.plate .text {
  display: block;
  text-align: center;
  position: relative;
  top: 45px;
  line-height: 1.5em;
  font-size: 1.4em;
  color: #333;
}

.plate .description {
  display: block;
  text-align: center;
  position: relative;
  top: 50px;
  line-height: 1.5em;
  font-size: 1.2em;
  color: #666;
  text-decoration: none;
}

/* Set the fixed height of the footer here */
#footer {
  text-align: center;
  padding: 10px;
  color: #464646;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  a {
    color: #464646;
  }
}

#feedback-link {
  text-align: center;
}


/* Custom pages */
#terms-page {
    
  padding-top: 5px;
  padding-bottom: 10px;

  li {
    margin-bottom: 20px;
  }

  ol {
    padding: 0;
  }

}