$link-color: #8D8D8D;
$link-hover-color: #555555;


/* Navigation Bar */
.top-bar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;

  background-color: #fff;
  // border-bottom: 1px solid #979797;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.09);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.09);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.09);

  .super {
    font-size: 12px;
    color: #cd00a2;
    position: relative;
    top: -10px;
    font-weight: bold;
  }

  /* FITLOOP LOGO */
  .logo {
    text-indent: -9999px;
    background-image: url("/logo@2x.png") ;
    width: 82px;
    height: 19px;
    background-size:82px 19px;
    white-space: nowrap;
    position: absolute;
    top: 31px;
    
    color: #313131;
    
    &:visited {
      color: #313131;
    }
    &:hover {
      color: #313131;
    }
  }

  // Dropdown style
  nav {
    position: absolute;
    top: 80px;

    -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.09);
    box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.09);

    ul {
      li {
        color: $link-color;
        font-size: 20px;
        border-top: 1px solid #eee;
        background: white;
        a {
          display: block;
          padding: 20px;
          color: $link-color;
          &:visited {
            color: $link-color;
          }
          &:hover {
            color: $link-hover-color;
          }
        }
      }
    }
  }
}

.nav-toggle {
  text-align: right;
  color: #333;
  font-size: 26px;
  background: #fff;
  position: absolute;
  top: 25px;
  right: 26px;
}

@media (min-width: 50em) {
  .top-bar nav {
    z-index: 2000;
    position: absolute;
    left: 100px;
    top: 7px;
    margin-right: 100px;

    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;

    ul {
      li {
        display: inline-block;
        margin-right: 0px;
        border: none;
      }
    }

    ul.right-nav {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 5000;
    }
  }
}