<template name="exercisesPage">
  <div id="exercisesPage">
    <div class="container" id="page">

      <div class="exercise-library">
        <h1>Exercises</h1>

        <div class="button-bar">
          <ul class="button-group radius">
          {{#if showListView}}
            <li><a href="#" class="small button secondary" id="showGridView"><i class="fa fa-th"></i> Grid</a></li>
            <li><a href="#" class="small button success" id="showListView"><i class="fa fa-th-list"></i> List</a></li>
            
          {{else}}
            <li><a href="#" class="small button success" id="showGridView"><i class="fa fa-th"></i> Grid</a></li>
            <li><a href="#" class="small button secondary" id="showListView"><i class="fa fa-th-list"></i> List</a></li>
              
          {{/if}}
          </ul>
        </div>

        {{#if showGridView}}
          {{> exercisesGrid exercises}}
        {{else}}
          {{> exercisesList exercises}}
        {{/if}}
      </div>

    </div>
  </div>

</template>

<template name="exercisesGrid">
  <ul class="small-block-grid-1 medium-block-grid-3">
  {{#each this}}
    <li>
      <a class="exercise-grid-item" href="/exercises/{{slug}}">
        <img src="//img.youtube.com/vi/{{videoId}}/mqdefault.jpg">
        <span class="text">{{name}}</span>
      </a>
    </li>
  {{/each}}
  </ul>
</template>


<template name="exercisesList">
  <ul class="exercise-list">
    {{#each this}}
      <li>
        <a href="/exercises/{{slug}}">
          <b>{{name}}</b>
        </a>
      </li>
    {{/each}}
  </ul>
</template>
