<template name="exercisePage">

  <div class="container" id="page">

    <div class="row">
      <div class="col-md-12">
        <h3>{{name}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="{{pathFor 'homePage'}}">Home</a></li>
          <li><a href="{{pathFor 'exercisesPage'}}">Exercises</a></li>
          <li class="active">{{name}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="video">
          {{#if videoId}}
            {{> exerciseVideo}}
          {{else}}
            <span class="message">No exercise video</span>
          {{/if}}
        </div>
      </div>
      <div class="col-sm-6">
        {{#if notes}}
          <h4>Notes</h4>
          <pre class="notes">{{notes}}</pre>
        {{/if}}
        {{#if equipment}}
          <h4>Equipment</h4>
          {{#each equipment}}
            {{> equipmentItem}}
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
