<template name="exercisePage">

  <div id="page">

    <h3>{{name}}</h3>
    
    <ul class="breadcrumbs">
      <li><a href="{{pathFor 'homePage'}}">Home</a></li>
      <li><a href="{{pathFor 'exercisesPage'}}">Exercises</a></li>
      <li class="current">{{name}}</li>
    </ul>
    
    <div class="row">
      <div class="small-12 large-6 columns">
        <div class="video">
          {{#if videoId}}
            {{> exerciseVideo}}
          {{else}}
            <span class="message">No exercise video</span>
          {{/if}}
        </div>
      </div>
      <div class="small-12 large-6 columns">
        {{#if notes}}
          <h4>Notes</h4>
          <pre class="notes">{{notes}}</pre>
        {{/if}}
        {{#if equipment}}
          <h4>Equipment</h4>
          <ul class="small-block-grid-2">
          {{#each equipment}}
            <li>{{> equipmentItem}}</li>
          {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>


  </div>
</template>
