<template name="exerciseInfo">
  <div class="exercise-info">
    <div class="panel-body">
      <div class="video-section">
        {{#if exercise.videoId}}
          {{#with exercise}}
            {{> exerciseVideo}}
          {{/with}}
        {{else}}
          <span class="message">Please select an exercise on the left.</span>
        {{/if}}
      </div>

      <div class="container">
        <h3 class="panel-title">
          {{exercise.name}}
        </h3>

        <p class="notes">{{exercise.notes}}</p>

      {{#if exercise.equipment}}
        <h5>Equipment</h5>
        {{#each exercise.equipment}}
          {{> equipmentItem}}
        {{/each}}
      {{/if}}

      <br/>
      <a href="mailto:hi@fitloop.co">Suggest an improvement</a>

      </div>
    </div>
  </div>
</template>